body {
    font-family: 'shadows';
    font-size: x-large;
}

.post-header {
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
}

.post-header:hover {
    color: cadetblue;
    cursor: pointer;
}

.display-name {
    font-size: small;
}